<footer class="footer">
<div class="container">
  <p class="pull-xs-right"><a href="#">Back to top</a></p>
  <p>&copy; {{ site.title }} </p>
</div>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.countdown.js" | prepend: site.baseurl }}"></script>

<!-- Kick off the counter -->
<script>
  $('.count_down').countdown({
      end_time: "2016/06/06 08:30:00 +0800",
      show_second: true,
      wrapper: function(unit){
          var wrpr = $('<div></div>').
              addClass(unit.toLowerCase()+'_wrapper').
              addClass('col-sm-3').
              addClass('col-xs-3').
              addClass('col-md-3').
              addClass('custom');
          var background = $('<div></div>').
              addClass('background').
              addClass('time').
              appendTo(wrpr);

          $('<span class="counter style_all"></span>').appendTo(background);
          $('<span class="title">'+unit+'</span>').appendTo(background);
          return wrpr;
      }
  });
</script>
