<footer class="footer">
<div class="container">
  <p class="pull-xs-right" style="margin-bottom: 0"><a href="#">Back to top</a></p>
  <p style="margin-bottom: 0">&copy; {{ site.title }} </p>
</div>
</footer>

<script src="{{ "/js/tether.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/js/jquery.countdown.js" | prepend: site.baseurl }}"></script>

<!-- Kick off the counter -->
<script>
  $('.count_down').countdown({
      end_time: "2016/09/26 00:00:00 +0800",
      show_second: true,
      wrapper: function(unit){
          var wrpr = $('<div></div>').
              addClass(unit.toLowerCase()+'_wrapper').
              addClass('col-sm-3').
              addClass('col-xs-3').
              addClass('col-md-3').
              addClass('custom');
          var background = $('<div></div>').
              addClass('background').
              addClass('time').
              appendTo(wrpr);

          $('<span class="counter style_all"></span>').appendTo(background);
          $('<span class="title">'+unit+'</span>').appendTo(background);
          return wrpr;
      }
  });




</script>
