<nav class="navbar navbar-fixed-top navbar-light bg-faded">
  <div class="py-navbar-logo-container">
    <img class="py-navbar-logo" src="/images/logo-small-horizontal.png">
  </div>

  <button class="btn navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar" style='float: right'>
      &#9776;
    </button>

  <div class="collapse navbar-toggleable-xs" id="collapsingNavbar">
    <ul class="nav navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/event.html">Event</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/schedule.html">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/records.html">Records</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sponsors.html">Sponsors</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/photos/Pacific%20Youth%20Track%20Tournament">Gallery</a>
      </li>
    </ul>
  </div>


</nav>


