<header class="header-background header" id="header" data-stellar-background-ratio="0.5"> <!--Start: "Header Area"-->
    <div class="fix header-overlay overlay-color">

    {% include navbar.html %}
        
      <div class="container">
            <div class="row header-body" id="header-body">

                <!-- Start: CountDown area -->
                <div class="count_down fadeInDown animated" data-wow-offset="120" data-wow-duration="1.5s">
                </div>
                <!-- End: CountDown area -->

                <div class="clearfix">
                </div>

              <div class="col-md-offset-1 col-md-5 heading fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
                <h1><b>PACIFIC YOUTH<br> TRACK CYCLING<br> TOURNAMENT</b><br>Date 2016</h1>
              </div>

              <div class="col-md-5 pera fadeInUp animated" data-wow-offset="120" data-wow-duration="1.5s">
                <p>{{ site.description }}</p>

                <!-- Start: Button area -->
                    <div class="buy-tricket btn-scroll">
                        <div class="btn-group">
                            <a href="#section-6" class="btn-fill btn-standard btn btn-cus">Register Now</a>
                        </div>
                    </div>
                    <!-- End: Button area" -->

              </div><!-- End: col-md-5 pera  -->


            </div><!-- End: header-body  -->
        </div> <!-- End: container  -->


    </div> <!-- End: fix header-overlay overlay-color  -->
</header> <!--End: Header Area-->

