---
# Only the main Sass file needs front matter (the dashes are enough)
---

$py-background-color: #f7f7f9;

$py-brand-really-darkest: #276285;
$py-brand-darkest: #367dab;
$py-brand-dark: #88c5ea;
$py-brand-medium: #92ceea;
$py-brand-light: #c1e5ef;

$py-blue-background: #1487c1;

$navbar-light-color: $py-brand-darkest;
$navbar-light-hover-color: $py-brand-really-darkest;
$navbar-light-active-color: $py-brand-really-darkest;
$navbar-light-disabled-color: $py-brand-medium;

// $enable-flex: true;

@charset "utf-8";
@import "bootstrap/bootstrap.scss";
@import "carousel.scss";

.page-content > .wrapper > .container {
  margin-top: 100px;
}


.navbar-toggler {
  display: none;
}

.time .counter {
  color: #FFFFFF;
  font-size: 100px;
  font-weight: 300;
  font-family: 'Oswald', sans-serif;
  display: block;
  text-align: center;
}
.time .title {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  font-weight: lighter;
  display: block;
  text-align: center;
  font-size: 18px;
}

.count_down {
    padding-top: 100px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

.carousel-caption img {
  height: 400px;
}

@media(max-width:34em) {
    .navbar .navbar-nav>.nav-item {
        float: none;
        margin-left: .1rem;
    }
    .navbar .navbar-nav {
        float:none !important;
        margin-top: 80px;
        margin-left: 0px;
    }
    .navbar .collapse.in, .navbar .collapsing  {
        clear:both;
    }
    .navbar-toggler {
      display: block;
    }

    .time .counter {
      font-size: 3em;
    }

    .carousel-item {
      height: 400px;
    }

    .carousel-caption img {
      height: 250px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #ccc;
}

body {
    background-color: $py-background-color;
    margin-bottom: 60px;
}

nav.bg-faded {
    background-color: $py-background-color;
}

.py-navbar-logo-container {
    width: 200px;
    //border: 1px solid black;
    position: fixed;
    left: 10px;
    top: 0px;
    background-color: $py-blue-background;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.5);
}

.py-navbar-logo {
    width: 100%;
    // width: 100px;
    // //border: 1px solid black;
    // position: fixed;
    // left: 40px;
    // top: 0px;
    // background-color: #f7f7f9;
    // padding: 5px;
    // border-radius: 15px;
}

.navbar-nav {
    margin-left: 220px;
    //height: 80px
}

.navbar {
    box-shadow: 2px 2px 25px 1px rgba(0, 0, 0, 0.5);
}


// .navbar-light .navbar-nav .nav-link {
//     color: $py-brand-dark;
// }

// .navbar-light .navbar-nav .nav-link:hover {
//     color: $py-brand-darkest;
// }

// .navbar-light .navbar-nav .open > .nav-link, .navbar-light .navbar-nav .open > .nav-link:focus, .navbar-light .navbar-nav .open > .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .active > .nav-link:focus, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .nav-link.open:focus, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.active:focus, .navbar-light .navbar-nav .nav-link.active:hover {
//     color: $py-brand-darkest;
// }

#myCarousel {
    margin-top: 50px;
}



