---
layout: default
---



<div class="container marketing">

    <h1>Sponsors</h1>


  <!-- START THE FEATURETTES -->


  {% for sponsor in site.data.sponsors %}
    <hr class="featurette-divider">
    <div class="row featurette">
      <div class="col-md-7 {% cycle 'col-md-push-5', '' %}">
        <h2 class="featurette-heading">{{ sponsor.name }}</h2>
        {% for paragraph in sponsor.desc %}
        <p class="lead">{{ paragraph }}</p>
        {% endfor %}
      </div>
      <div class="col-md-5 {% cycle 'col-md-pull-7', '' %}">
        <a href="{{ sponsor.url }}"><img class="featurette-image img-fluid center-block" src="/images/{{ sponsor.logo }}" style="width: 300px;margin-top: 25%"></a>
      </div>
    </div>
  {% endfor%}

  <!-- END THE FEATURETTES -->
  
</div>



